.contact-section {
  padding: 20px 10%;
  background: #000;
  color: #fff;
}

.contact-section-container {
  max-width: 1000px;
  margin: auto;
  text-align: center;
  margin-bottom: 80px;
}

.contact-section-title {
  font-size: 40px;
  margin-bottom: 25px;
  position: relative;
  display: inline-block;
  opacity: 0;
  transform: translateY(40px);
  animation: fadeUpSmooth 0.8s ease forwards;
}

.contact-section-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 12px auto 0;
  background: #1a63bc;
}

.contact-section-text {
  max-width: 800px;
  margin: 0 auto 60px;
  color: #bcbcbc;
  font-size: 17px;
  line-height: 1.8;
  opacity: 0;
  transform: translateY(40px);
  animation: fadeUpSmooth 0.8s ease forwards;
  animation-delay: 0.3s;
}

.contact-section-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  flex-wrap: wrap;
}

.contact-section-left {
  flex: 1;
  display: flex;
  justify-content: center;
  opacity: 0;
  margin-top: -180px;
  animation: fadeLeft 0.8s ease forwards;
  animation-delay: 0.5s;
}

.contact-section-image {
  width: 100%;
  max-width: 420px;
}

.contact-section-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-section-form {
  width: 100%;
  max-width: 380px;          
  margin: 0 auto 50px;       
  padding: 40px;
  background: rgba(255, 255, 255, 0.078);
  border: 1px solid rgba(26, 99, 188, 0.3);
  border-radius: 16px;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  opacity: 0;
  transform: translateY(50px);
  animation: fadeUpSmooth 0.9s ease forwards;
  animation-delay: 0.6s;
}

.contact-section-form input,
.contact-section-form textarea {
  width: 90%;
  padding: 14px 18px;
  background: rgba(0, 0, 0, 0.905);
  border: 1px solid rgba(26, 99, 188, 0.4);
  border-radius: 8px;
  color: #fff;
  font-size: 15px;
  outline: none;
  transition: 0.3s ease;
}

.contact-section-form input:focus,
.contact-section-form textarea:focus {
  border-color: #1a63bc;
  box-shadow: 0 0 12px rgba(26, 99, 188, 0.6);
}

.contact-btn {
  padding: 12px 26px;
  border-radius: 30px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease;
}

.contact-btn-primary {
  background: #1a63bc;
  border: none;
  color: #000;
  font-weight: 600;
}

.contact-btn-primary:hover {
  background: #0f4ea0;
  transform: translateY(-3px);
  box-shadow: 0 0 15px rgba(26, 99, 188, 0.6);
}

.contact-btn-outline {
  background: transparent;
  border: 1px solid #1a63bc;
  color: #1a63bc;
  text-decoration: none;
}

.contact-btn-outline:hover {
  background: #1a63bc;
  color: #000;
}

.contact-section-info {
  margin: 5px 0 20px;
  color: #bcbcbc;
  font-size: 15px;
  text-align: center;
  opacity: 0;
  transform: translateY(40px);
  animation: fadeUpSmooth 0.8s ease forwards;
  animation-delay: 0.9s;
}

.contact-section-info strong {
  color: #fff;
}

.contact-section-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  opacity: 0;
  transform: translateY(40px);
  animation: fadeUpSmooth 0.8s ease forwards;
  animation-delay: 1.1s;
}

.contact-btn-outline {
  background: transparent;
  border: 1px solid #1a63bc;
  color: #1a63bc;
  text-decoration: none;
}

.contact-btn-outline:hover {
  background: #1a63bc;
  color: #000;
}

@keyframes fadeUpSmooth {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


@media (max-width: 992px) {
  .contact-section-left {
    margin-top: 0; 
  }
}

@media (max-width: 768px) {

  .contact-section {
    padding: 60px 6%;
  }

  .contact-section-wrapper {
    flex-direction: column;
    gap: 40px;
  }

  .contact-section-form {
    padding: 30px 30px;
    max-width: 280px;
  }

  .contact-section-text{
    font-size: 16px;
  }

  .contact-section-form input,
  .contact-section-form textarea {
    width: 85%;
  }

  .contact-section-image {
    max-width: 280px;
  }
}

@media (max-width: 480px) {
  .contact-section-title {
    font-size: 26px;
  }

  .contact-btn-primary {
    width: 100%;
  }
  
}