body {
  margin: 0;
  overflow-x: hidden;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 70px;
  background: #000000;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.navbar-container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 40px;
  cursor: pointer;
}

.menu-toggle {
  display: none;
  font-size: 28px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s ease;
}

.menu-toggle:hover {
  color: #1a63bc;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 35px;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  transition: 0.3s ease;
  position: relative;
}

/* HOVER EFFECT */
.nav-links li a:hover {
  color: #1a63bc;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #1a63bc;
  transition: 0.3s ease;
}

.nav-links li a:hover::after {
  width: 100%;
}

@media (max-width: 768px) {

  .menu-toggle {
    display: block;
  }

  .nav-links {
    position: fixed;
    top: 70px;
    right: -250px;               
    width: 180px;
    height: 200px;
    background: #000000;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
    padding-top: 40px;
    transition: right 0.3s ease;
    box-shadow: -5px 0 20px rgba(68, 68, 68, 0.4);
  }

  .nav-links.active {
    right: 0;
  }

  .nav-links li a {
    font-size: 16px;
  }
}