.projects-section {
  padding: 20px 10%;
  background: #000;
}

.projects-heading {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 100px;
  color: #ffffff;
  position: relative;
}

.projects-heading::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background: #1a63bc;
  margin: 15px auto 0;
  border-radius: 2px;
}

.project-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  margin-bottom: 100px;
  padding: 50px;
  border-radius: 20px;
  background: linear-gradient(135deg, #ffffff16, #ffffff00 );
  border: 1px solid rgba(26, 99, 188, 0.5);
  transition: 0.4s ease;
}

.project-row:hover {
  border: 1px solid rgba(26, 99, 188, 0.5);
  box-shadow: 0 0 40px rgba(26, 99, 188, 0.15);
}

.project-row-reverse {
  flex-direction: row-reverse;
}

.project-image-box {
  flex: 1;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}

.project-image-box img {
  width: 100%;
  display: block;
  filter: brightness(0.85);
  transition: 0.6s ease;
}

.project-row:hover img {
  transform: scale(1.04);
}

.project-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.047);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.3s ease;
  backdrop-filter: blur(1px);
}

.project-image-box:hover .project-overlay {
  opacity: 1;
}

.project-overlay a {
  color: #fff;
  border: 1px solid #1a63bc;
  padding: 10px 24px;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.3s ease;
}

.project-overlay a:hover {
  background: #1a63bc;
  box-shadow: 0 0 20px rgba(26, 99, 188, 0.6);
}

.project-content-box {
  flex: 1;
}

.project-content-box h3 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #fff;
}

.project-content-box h3::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  margin-top: 10px;
  background: #1a63bc;
}

.project-content-box p {
  font-size: 17px;
  color: #bcbcbc;
  line-height: 1.7;
  margin-bottom: 25px;
}

.project-tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 30px;
}

.project-tech-stack span {
  background: rgba(255, 255, 255, 0.05);
  color: #1a63bc;
  padding: 6px 16px;
  border-radius: 30px;
  font-size: 0.8rem;
  border: 1px solid rgba(26, 99, 188, 0.4);
  transition: 0.3s ease;
}

.project-tech-stack span:hover {
  background: #1a63bc;
  color: #000;
  transform: translateY(-3px);
}

.project-action a {
  display: inline-block;
  background: #1a63bc;
  text-decoration: none;
  border: 1px solid #1a63bc;
  color: #ffffff;
  padding: 10px 28px;
  border-radius: 30px;
  transition: 0.4s ease;
}

.project-action a:hover {
  background: #1a63bc;
  color: #000;
  box-shadow: 0 0 20px rgba(26, 99, 188, 0.6);
}

.reveal {
  opacity: 0;
  transform: translateY(80px);
  transition: all 1s cubic-bezier(0.17, 0.55, 0.55, 1);
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 900px) {
  .project-row,
  .project-row-reverse {
    flex-direction: column;
    gap: 40px;
    padding: 30px;
  }

  .projects-section {
    padding: 80px 6%;
  }
}